
{% extends 'layout.html' %}

{% block body %}
<form action="{% url 'products:update' product.id %}" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="product_name" class="form-label">Nombre del producto</label>
    <input name="name" type="text" class="form-control" id="product_name" value="{{ product.name }}">
   </div>
  <div class="mb-3">
    <label for="product_price" class="form-label">Precio</label>
    <input name="price" type="number" class="form-control" id="product_price" value="{{ product.price }}">
  </div>
  <div class="mb-3">
    <label for="product_barcode" class="form-label">Código de Barras (EAN13)</label>
    <input name="barcode" type="text" class="form-control" id="product_barcode" value="{{ product.barcode }}">
  </div>
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
{% endblock body %}